# Editors.
.idea
.vscode

# System Files.
.DS_Store

# NPM
node_modules
npm-debug.log
# Optional npm cache directory.
.npm
# Output of 'npm pack'.
*.tgz

# Build and temp files.
tmp
dist
out-tsc
.eslintcache
.rollup.cache
*.tsbuildinfo
wt-table-*
