# Editors.
/.idea
/.vscode

# System Files.
.DS_Store

# NPM
/node_modules/
/npm-debug.log
# Optional npm cache directory.
.npm
# Output of 'npm pack'.
*.tgz

# Testing.
/coverage/

# Temp Files and Directories.
/.tmp/
/.eslintcache

# Build.
/dist/
/out-tsc/
tsconfig.tsbuildinfo
