:host([active]), ::slotted([active]) {
	--wt_bg-state: var(--wt_active-bg);
	--wt_color-state: var(--wt_active-color);
}

tr ::slotted(:nth-child(even)) {
	--wt_bg-column: var(--wt_striped-col-bg);
	--wt_color-column: var(--wt_striped-col-color);
}

tr:hover {
	--wt_bg-state: var(--wt_hover-bg-state);
	--wt_color-state: var(--wt_hover-color-state);
}
