:host {
	display: contents;
}

:host([active]), ::slotted([active]) {
	--wt_bg-state: var(--wt_active-bg);
	--wt_color-state: var(--wt_active-color);
}

tr ::slotted(:nth-child(even)) {
	--wt_bg-column: var(--wt_bg-striped-columns);
	--wt_color-column: var(--wt_color-striped-columns);
}
