table {
	width: var(--wt_table-width);
	border-color: var(--wt_border-color);
	border-collapse: var(--wt_border-collapse);
	border-spacing: var(--wt_border-spacing);
	border-style: var(--wt_border-style);
	border-width: var(--wt_border-width) var(--wt_border-width) 0 var(--wt_border-width);
}
