/**
 * Bordered variant: Adds borders to all cells in the table.
 */
:host([bordered]) {
	--wt_border-width: var(--wt_bordered-border-width);
	--wt_cell-border-right-width: var(--wt_bordered-border-width);
}

/**
 * Borderless variant: Removes all borders from the table.
 */
:host([borderless]) {
	--wt_border-width: var(--wt_borderless-border-width);
	--wt_cell-border-bottom-width: var(--wt_borderless-cell-border-width);
	--wt_cell-border-right-width: var(--wt_borderless-cell-border-width);
}

/**
 * Comptact variant: Reduces the top and bottom padding of all the cells in the table.
 */
:host([compact]) {
	--wt_cell-padding-x: var(--wt_compact-cell-padding-x);
	--wt_cell-padding-y: var(--wt_compact-cell-padding-y);
 }

/**
 * Hover variant: Adds a background color to the tbody rows when the mouse hovers over them.
 */
:host([hover]) ::slotted(wt-body) {
	--wt_hover-bg-state: var(--wt_hover-bg);
	--wt_hover-color-state: var(--wt_hover-color);
 }

/**
 * Striped variant: Adds a background color to slotted rows in the table.
 */
:host([striped]) ::slotted(wt-body) {
	--wt_striped-bg-type: var(--wt_striped-bg);
	--wt_striped-color-type: var(--wt_striped-color);
 }

/**
 * Striped columns variant: Adds a background color to even "slotted" columns in the table.
 */
:host([striped-columns]) > table {
	--wt_striped-col-bg: var(--wt_striped-columns-bg);
	--wt_striped-col-color: var(--wt_striped-color);
}

/**
 * Positions the <caption> element on top of the table.
 */
:host([caption-side="top"]) > table {
	caption-side: top;
}

/**
 * Adds a top border to the <tbody> and <tfoot> elements.
 */
:host([dividers]) > table {
	--wt_section-divider-width: var(--wt_divider-width);
}

/**
 * Makes the <thead> sticky to the top of the table.
 */
:host([sticky*="head" i]) > table {
	--wt_thead-top: 0;
	--wt_thead-position: sticky;
}

/**
 * Makes the <tfoot> sticky to the bottom of the table.
 */
:host([sticky*="foot" i]) > table {
	--wt_tfoot-bottom: 0;
	--wt_tfoot-position: sticky;
}
